<div [@routerTransition]>
  <h2 class="text-muted">Thông tin tài khoản</h2>
  
  <hr>
  <div class="card-body table-responsive">
    <table class="table borderless">
        <tbody>
           <tr>
                <td>Tên tài khoản</td>
                <td>{{accService.getCurrentUserName()}}</td>
            </tr>
            <tr>
                <td>Tên đầy đủ</td>
                <td>{{accService.getCurrentUserFullName()}}</td>
            </tr>
            <tr>
                <td>Chức vụ</td>
                <td>{{accService.getCurrentUserRole()}}</td>
            </tr>

        </tbody>
    </table>
</div>
      <div class="row">
        <div class="col-sm-2">
          <button class="btn btn-primary">Chỉnh sửa</button>
          </div>
          <div class="col-sm-10"></div>
      </div>
  <hr />   
</div>
