<div [@routerTransition]>
  <h2 class="text-muted">Thông tin tài khoản</h2>
  
  <hr>
      <div class="row " >
          <div class="col-xl-2">
            <label for="username">Tên tài khoản</label>
          </div>

          <div class="col-xl-3">
            <input  type="text" class="input disabled" name="username" required />
          </div>
          <div class="col-xl-7"></div>  
      </div>
          
          
      <div class="row " >
        <div class="col-xl-2">
          <label for="password">Tên đầy đủ</label>
          </div>
          <div class="col-xl-3">
          <input type="text" class="input disabled" name="password" required />
          </div>
          <div class="col-xl-7"></div>
      </div>
      <div class="row">
        <div class="col-xl-2">
          <button class="btn btn-primary">Chỉnh sửa</button>
          </div>
          <div class="col-xl-10"></div>
          
      </div>
  <hr />   
</div>
