<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Trang chủ'}}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages1')">
                <span><i class="fa fa-th-list"></i>&nbsp; {{ 'Quản lý' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu1 === 'pages1'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/resource"><span><i class="fa fa-leaf "></i>&nbsp; {{ 'Nguyên liệu' }}</span></a>
                    </li>
                    <li>
                        <a routerLink="/imexport"><span><i class="fa fa-print "></i>&nbsp; {{ 'Nhập xuất' }}</span></a>
                    </li>
                    <li>
                        <a routerLink="/land"><i class="fa fa-map "></i>&nbsp;<span> {{ 'Đất trồng' }}</span></a>
                    </li>
                    <li>
                        <a routerLink="/document"><i class="fa fa-file "></i>&nbsp;<span> {{ 'Tài liệu' }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" >
            <a class="list-group-item" (click)="addExpandClass('pages2')">
                <span><i class="fa fa-users"></i>&nbsp; {{ 'Nhân sự'}}</span>
            </a>
            <li class="nested" [class.expand]="showMenu2 === 'pages2'" >
                <ul class="submenu">
                    <li>
                        <a routerLink="/employee"><i class="fa fa-user-circle "></i>&nbsp;<span> {{ 'Nhân viên' }} </span></a>
                    </li>
                    <li>
                        <a routerLink="/farmer"><i class="fa fa-user-circle-o"></i>&nbsp;<span> {{ 'Nông dân' }} </span></a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
</nav>
