<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
      <div class="col-md-4">
          <img src="assets/images/logo.png" width="150px" class="user-avatar" />
          <h1>Đổi mật khẩu</h1>
          
              <form role="form" name="form" (ngSubmit)="g.form.valid && changePassword()" #g="ngForm" novalidate>
                  <div class="form-group " [ngClass]="{ 'has-error': g.submitted && !username.valid }">
                      <label for="username">Tên đăng nhập</label>
                      <input  type="text" class="form-control form-control input-underline input-lg" name="username" [(ngModel)]="user.userName" #username="ngModel" required />
                      <div *ngIf="g.submitted && !username.valid" class="help-block">Vui lòng nhập tên đăng nhập</div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': g.submitted && !oldpassword.valid }">
                    <label for="oldpassword">Mật khẩu cũ</label>
                    <input type="password" class="form-control input-underline input-lg" name="oldpassword" [(ngModel)]="user.oldPassword" #oldpassword="ngModel" required />
                    <div *ngIf="g.submitted && !oldpassword.valid" class="help-block">Vui lòng nhập mật khẩu</div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': g.submitted && !password.valid }">
                      <label for="password">Mật khẩu</label>
                      <input type="password" class="form-control input-underline input-lg" name="password" [(ngModel)]="user.password" #password="ngModel" required />
                      <div *ngIf="g.submitted && !password.valid" class="help-block">Vui lòng nhập mật khẩu</div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': g.submitted && !repassword.valid }">
                    <label for="repassword">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control input-underline input-lg" name="repassword" [(ngModel)]="user.rePassword" #repassword="ngModel" required />
                    <div *ngIf="g.submitted && !repassword.valid" class="help-block">Vui lòng nhập mật khẩu</div>
                    <div class="help-block" [(ngModel)]="message">{{message}}</div>
                </div>
                  <div class="form-group">
                      <button class="btn btn-primary">Đổi mật khẩu</button>
                      
                      
                  </div>
              </form>
          
      </div>
  </div>
</div>
