<div [@routerTransition]>
    <h2 class="text-muted">Nhân viên</h2>
    <hr>

    <div class="row">
        <div class="col-xl-2">
            <button type="button" class="btn btn-secondary btn-block" (click)="open(content)">Thêm </button>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm nhân viên</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <p>Họ và Tên</p>
                        </div>
                        <div class="col-xl-6">
                            <input type="text" [(ngModel)]="emp.fullName" class="form-control" id="fullname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <p>Địa chỉ</p>
                        </div>
                        <div class="col-xl-6">
                            <input type="text" [(ngModel)]="emp.address" class="form-control" id="address">
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-xl-6">
                                <p>Lương</p>
                            </div>
                            <div class="col-xl-6">
                                <input type="text" [(ngModel)]="emp.salary" class="form-control" id="salary">
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <p>Giới tính</p>
                        </div>
                        <div class="col-xl-6">
                            <select [(ngModel)]="emp.sex" class="custom-select">
                                <option value="1">Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <p>Ngày sinh</p>
                        </div>
                        <div class="col-xl-6">

                            <div class="input-group ">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="time1" ngbDatepicker #e="ngbDatepicker">
                                <button class="input-group-addon" (click)="e.toggle()" type="button">
                                    <img src="assets/images/calendar-icon.svg" style="width: 0.9rem; height: 0.7rem; cursor: pointer;" />
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <p>Số điện thoại</p>
                        </div>
                        <div class="col-xl-6">
                            <input type="text" [(ngModel)]="emp.phone" class="form-control" id="phonenumber">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <p>Ngày làm việc</p>
                        </div>
                        <div class="col-xl-6">

                            <div class="input-group ">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="time2" ngbDatepicker #f="ngbDatepicker">
                                <button class="input-group-addon" (click)="f.toggle()" type="button">
                                    <img src="assets/images/calendar-icon.svg" style="width: 0.9rem; height: 0.7rem; cursor: pointer;" />
                                </button>
                            </div>

                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " (click)="c(emp)">Xác nhận</button>
                    </div>
                </div>
            </ng-template>
            </div>
            <div class="col-xl-4"></div>
            <div class="col-xl-6">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="filter.fullName" placeholder="Tìm kiếm tên nhân viên..." aria-label="Tìm kiếm tên nhân viên...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Tìm kiếm!</button>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="card mb-3">
            <div class="card-header">Bảng nhân viên</div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Họ Tên</th>
                            <th>Giới tính</th>
                            <th>Ngày vào làm</th>
                            <th>Mức lương</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of empCollection | filterBy: filter | 
                        paginate: { itemsPerPage: 5,
                        currentPage: p}">
                            <td>{{employee.fullName}}</td>
                            <td>{{isSex(employee.sex)}}</td>
                            <td>{{employee.phone}}</td>
                            <td>{{employee.salary}}</td>
                            <td>
                                <a href="javascript:void(0)" (click)='deleteEmpoyee(employee)'>Xóa</a>
                            </td>
                            <td>
                                <a href="javascript:void(0)">Sửa</a>
                            </td>
                        </tr>
                        

                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="row ">
            <div class="col-xl-12 text-center">
                    <pagination-controls (pageChange)="p = $event" ></pagination-controls>
            </div>
        </div>
        
    </div>