<div [@routerTransition]>
    <h2 class="text-muted">Tài liệu</h2>
    <hr>
    
    <div class="row">
        <div class="col-xl-2">
            <button type="button" class="btn btn-secondary btn-block">Xuất </button>
        </div>
        <div class="col-xl-4"></div>
        <div class="col-xl-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm tài liệu..." aria-label="Tìm kiếm theo ngày...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="card mb-3">
        <div class="card-header">Bảng cây trồng</div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <a href="">Xóa</a>
                        </td>
                        <td>
                            <a href="">Sửa</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@TwBootstrap</td>
                        <td>
                            <a href="javascript:void(0)">Xóa</a>
                        </td>
                        <td>
                            <a href="javascript:void(0)">Sửa</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>
                            <a href="javascript:void(0)">Xóa</a>
                        </td>
                        <td>
                            <a href="javascript:void(0)">Sửa</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        <td>
                            <a href="javascript:void(0)">Xóa</a>
                        </td>
                        <td>
                            <a href="javascript:void(0)">Sửa</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>