<div [@routerTransition]>
    <h2 class="text-muted">Đất trồng</h2>
    <hr>
    
    <div class="row">
        <div class="col-xl-2">
            <button type="button" class="btn btn-secondary btn-block">Xuất </button>
        </div>
        <div class="col-xl-4"></div>
        <div class="col-xl-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm giống cây..." aria-label="Tìm kiếm theo ngày...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="card mb-3">
        <div class="card-header">Bảng cây trồng</div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên giống</th>
                        <th>Tên giống</th>
                        <th>Tên giống</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Bí đao</td>
                        <td>Bí đao</td>
                        <td>Bí đao</td>
                        <td>
                            <a href="">Xóa</a>
                        </td>
                        <td>
                            <a href="">Sửa</a>
                        </td>
                    </tr>
                   

                </tbody>
            </table>
        </div>
    </div>
</div>